@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

*{
    padding:0;
    margin: 0;
    font-family: "Viga", sans-serif;
    font-weight: 200;
    font-style: normal;
}


body{
    background-color: #4B2E00;
}

.container{
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    border-radius: 1rem;
    background-color: aliceblue;
    box-shadow: 2px 2px 4px white;
    
}
.carrito{
    display: flex;
    margin: 1rem;
    padding: 1rem;
}
.carrito-productos{
    padding: 1rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    
}
.carrito-productos h1{
    margin: 1rem 0;
    text-shadow: 0 0 3px black;
    font-weight: 900;
    font-size: 2rem;
}
.carrito-item{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 3px rgb(114, 111, 111);
}
.carrito-item:hover{
    box-shadow:0 0 6px rgb(250, 9, 9) ;
    cursor: pointer;
}
.carrito-item:active{
    box-shadow:0 0 6px rgb(250, 9, 9) ;
    padding: 1.5rem;
}
.carrito-formulario{
    margin-top: 3rem;
    padding: 1rem;
    width: auto;
    font-weight: 900;
    
    border-radius: 0.5rem;
    display: flex;
    height: 30rem;
    flex-direction: column;
    align-content: center;
    gap: 1rem;
    box-shadow: 0 0 10px black;
}

.carrito-formulario-datos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.carrito-formulario-datos div{
    display: flex;
    justify-content: space-between;
}
form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
input{
    border: none;
    background-color: transparent;
    padding: 0.1rem;
    outline: none;
    border-bottom: 1px solid black ;

}
input:hover{
    background-color:rgb(189, 189, 218);
    border-radius: 0.3rem;
}
input:focus{
    border-bottom: 2px solid rgb(61, 42, 231);
}

button{
    margin-top: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    
}
button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

@media (max-width: 600px){
    body{
        background-color: black;
        font-size: 10px;
    }
    .carrito{
        flex-direction: column;
    }


    
}