*{
    list-style: none;
    text-decoration: none;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #ede0d4; /* Color de fondo claro */
    color: #4b3d3d; /* Color de texto marr贸n oscuro */
    margin: 0;
    padding: 0;
}

header {
    background-color: #8b5a2b; /* Color marr贸n */
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    margin: 20px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.menu {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ebc697; /* Color marr贸n claro */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #4b3d3d;
    padding: 15px 0;
}

.item:last-child {
    border-bottom: none;
}

.item img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
}

.item h2 {
    margin: 0;
    font-size: 1.8em;
}

.item p {
    margin: 5px 0;
    font-size: 1em;
}

.item a{
    text-decoration: none;
}
.item h2{
    color: black;
}
.item h2:hover{
    color: #8b5a2b;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #8b5a2b; /* Color marr贸n */
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
.contador{
    padding: 0;
    margin: 0;
    font-weight: 800;
    margin-top: 1rem;
}